doctype html
html
  head
    title Eagle
    script(src="/static/dist/index.bundle.js")
    style.
      body {
        background: #ddd;
      }
    
  body
    h1 Server Nodes @#{host}
    div#node-container-wrap