.node {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  color: white;
  background: gray;
  padding-bottom: 10px;

  .name {
    font-size: 15px;
    margin-bottom: 10px;
    background: #03a800;
    padding: 10px;
  }

  &.disabled {
    background: gray;

    .name {
      background: #999999;
    }
  }
}

.label {
  padding: 7px 7px 7px 10px;
  color: white;
  text-align: left;
  font-size: 11px;
}

.monit {
  font-size: 11px;
}