.node {
  width: 200px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  text-align: center;
  color: white;
  background: gray;

  .name {
    margin: 40px 0px 40px 0px;
  }
}

.label {
  margin: 13px;
  color: white;
}

.monit {
  font-size: 11px;
}